{# nmap annotations #}
{%   set nmap %}intranet:{{ hostvars[targethost]['region'] }}:{{ hostvars[targethost]['ip']|default(hostvars[targethost]['ansible_ssh_host']) }}:3001{% endset %}
{% if hostvars[targethost]['apn'] is defined %}
{%   set nmap %}{{ nmap }} apn:{{ hostvars[targethost]['region'] }}:{{ hostvars[targethost]['apn'] }}:{{ hostvars[targethost]['mdu']|default("3001") }}{% endset %}
{% endif %}
{% if hostvars[targethost]['internet'] is defined  %}
{%   set nmap %}{{ nmap }}apn:{{ hostvars[targethost]['region'] }}:{{ hostvars[targethost]['internet'] }}:{{ hostvars[targethost]['mdu']|default("3001") }}{% endset %}
{% endif %}
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: mdu
    region: {{ hostvars[targethost]['region'] }}
  name: mdu-{{ hostvars[targethost]['region'] }}-{{ targethost }}
  annotations:
    nmap: {{ nmap }}
spec:
  hostname: mdu-{{ hostvars[targethost]['region'] }}-{{ targethost }}
  subdomain: mdu
  containers:
    - name: mdu
      image: {{ mdu_private_repo }}:{{ mdu_version }}
      ports:
        - containerPort: 8001
          hostPort: 3001
  nodeSelector:
    kubernetes.io/hostname: {{ targethost }}
