apiVersion: v1
kind: Secret
metadata:
  name: ceph-secret
type: kubernetes.io/rbd
data:
  key: {{ ceph_adminkey }}
---
apiVersion: storage.k8s.io/v1beta1
kind: StorageClass
metadata:
    name: slow
provisioner: kubernetes.io/rbd
parameters:
    monitors: {{ ceph_monitors }}
    adminId: {{ ceph_adminid }}
    adminSecretName: ceph-secret
    pool: {{ ceph_pool }}
    userId: {{ ceph_adminid }}
    userSecretName: ceph-secret

