apiVersion: "v1"
kind: "ReplicationController"
metadata: 
  name: "sss"
  labels: 
    app: "sss"
spec: 
  replicas: 2
  template: 
    metadata: 
      name: "sss"
      labels: 
        app: "sss"
    spec: 
      containers: 
        - name: "sss"
          image: {{ sss_private_repo }}:{{ sss_version }}
          imagePullPolicy: Always
          ports: 
            - containerPort: 8080
            - containerPort: 9555
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 600
            periodSeconds: 300
            timeoutSeconds: 10
---
apiVersion: "v1"
kind: "Service"
metadata:
  name: "sss"
spec:
  selector:
    app: "sss"
  ports:
    - name: "http"
      port: 8080
      targetPort: 8080
      protocol: "TCP"