{# nmap annotations #}
{%   set nmap %}intranet:{{ hostvars[targethost]['region'] }}:{{ hostvars[targethost]['ip']|default(hostvars[targethost]['ansible_ssh_host']) }}:3002{% endset %}
{% if hostvars[targethost]['apn'] is defined %}
{%   set nmap %}{{ nmap }} apn:{{ hostvars[targethost]['region'] }}:{{ hostvars[targethost]['apn'] }}:{{ hostvars[targethost]['tas']|default("3002") }}{% endset %}
{% endif %}
{% if hostvars[targethost]['internet'] is defined  %}
{%   set nmap %}{{ nmap }}apn:{{ hostvars[targethost]['region'] }}:{{ hostvars[targethost]['internet'] }}:{{ hostvars[targethost]['tas']|default("3002") }}{% endset %}
{% endif %}
apiVersion: v1
kind: Pod
metadata:
  name: tas-{{ hostvars[targethost]['region'] }}-{{ targethost }}
  labels:
    app: TAS
    region: {{ hostvars[targethost]['region'] }}
  annotations:
    nmap: {{ nmap }}
spec:
  containers:
    - name: tas
      image: {{ tas_private_repo }}:{{ tas_version }}
      command: ["/usr/lib/TAS/TAS","3002"]
      ports:
        - containerPort: 3002
          hostPort: 3002
  nodeSelector: 
      kubernetes.io/hostname: {{ targethost }}
        
