apiVersion: "v1"
kind: "ReplicationController"
metadata: 
  name: "groupservice"
  labels: 
    app: "groupservice"
spec: 
  replicas: 2
  template: 
    metadata: 
      name: "groupservice"
      labels: 
        app: "groupservice"
    spec: 
      containers: 
        - name: "groupservice"
          image: {{ groupservice_private_repo }}:{{ groupservice_version }}
          imagePullPolicy: Always
          ports: 
            - containerPort: 8080
            - containerPort: 9555
            - containerPort: 3000
---
apiVersion: "v1"
kind: "Service"
metadata:
  name: "groupservice"
spec:
  selector:
    app: "groupservice"
  ports:
    - name: "http"
      port: 8080
      targetPort: 8080
      protocol: "TCP" 